.user{
    width: 800px;
    height: 500px;
    border: 1px solid black;
}
.web-header{
    width: 100%;
    height: 80px;
    font-weight: 550;
    text-align: center;
    border-bottom: 1px solid black;
}
.web-body{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-left-menu{
    width: 80px;
    height: 100%;
    border-right: 1px solid black;
   
}
.left-mexu-list{
    width: 100%;
    height: 50px ;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 49px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
}
.active-bg{
    background-color: red !important;
    color :#fff
}
.web-right-main{
   flex: 1;
    height: 100%;
}